---

---

<section class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <img src="/Logo.png" alt="Logo" />
        </div>  
        <div class="navbar-links">
            <a href="/">Inicio</a>
            <a href="/">Catalogo</a>
            <a href="/">Tasaciones</a>
            <a href="/">Contacto</a>
        </div>
    </div>
</section>