---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">

</div>

<style>
#container {
	background-image: url('../assets/background.svg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
